.footer {
    min-height: 49px;
    padding-bottom: 30px;
    background-color: #162831;
    &__wrapper {
        display: flex;
        justify-content: space-between;
    }
    &__descr {
        font-size: 14px;
        line-height: 135%;
        color: #FFFFFF;
        &_1 {
            font-weight: 400;
        }
        &_2 {
            font-weight: 700;
        }
    }

    &_two {
        min-height: 79px;
    }
    &__line {
        margin-bottom: 30px;
        opacity: 0.5;
        border: 1px solid #FFFFFF;
        border-left: none;
        border-right: none;
        border-bottom: none;
    }
}