@import 'bootstrap-reboot.min';
@import 'fonts';
@import 'mixins';
@import 'animate.min';

* {
    font-family: 'Proxima Nova', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1 , h2 {
    margin: 0;
}

.container {
    position: relative;
	width: 1300px;
	margin: 0 auto;
}

@import 'titles';

@import 'header';
@import 'menu';
@import 'promo';
@import 'services';
@import 'reviews';
@import 'slick';
@import 'about';
@import 'price';
@import 'contacts';

@import 'news';
@import 'news-element';
@import 'blog';

@import 'footer';
@import 'overlay';
@import 'media';
